body{
	margin: 0px;
	padding: 0px;
	font-family:Arial;
}

.bg1 {
	width: 100%;
	height: 907px;
	background-image: url('images/bg-1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	margin-top: -907px;

}

.bg1-left {
	height: 907px;
	width: 50%;
	float: left;
	background-image: url('images/bg-1-l.jpg');
	background-repeat: repeat-x;
	background-position: center;
}

.bg1-right {
	height: 907px;
	width: 50%;
	float: right;
	background-image: url('images/bg-1-r.jpg');
	background-repeat: repeat-x;
	background-position: center;
}

.ford-l {	
	background-repeat: no-repeat;
	background-position: right;
	width: 30%;
	height: 419px;
	background-image: url('images/ford.png');
	float: left;
	margin: 250px 0px 0px;
	z-index: 99;
	position: relative;

}

.ford-r {
	background-image: url('images/ford.png');
	background-repeat: no-repeat;
	background-position: left;
	float: right;
	width: 30%;
	height: 419px;
	margin:  250px 0px 0px 0px;
	z-index: 99;
	position: relative;

}

.header-block-wrapper {
	width: 100%;
	margin: 0 auto;
	height: 100px;
	background-color: #fff;
	position: fixed;
	z-index: 99;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75); 
  	-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75); 
  	box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.75); 


}

.header-block {
	width: 960px;
	margin: 0 auto;

}

.header-block img {
	width: 85px;
	margin-top: 5px;
}
.header-block .phone-header img {
	width: 29px;
	float: right;
	margin-top: -12px;
}

.phone-header {
	color: #ff0000;
	font-size: 36px;
	display: block;
	padding: 0px;
	margin: 15px 40px 0px 0px;
	float: right;
}

.phone-header span{
	color: #000;
	font-size: 14px;
	margin-top: 0px;
	display: block;

}



.btn{
	text-align: center;
	color: #fff;
	font-size: 14px;
	display: block;
	width: 218px;
	height: 53px;
	line-height: 48px;
	background-image: url('images/button.png');
	background-repeat:  no-repeat;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	float: right;
	text-shadow: 0.5px 0.5px 0.3px #000 inset;

}

.btn:hover{
	text-decoration: underline;
}

.header-block .btn{
	margin-top: 25px;
}

.offer-text-one {
	display: block;
	width: 100%;
	text-align: center;
	margin: 200px auto;
}
.offer-text-one p{
	color: #fff;
	font-size: 40px;
	text-shadow: 1px 1px 1px #000;
}

.offer-text-one p span{
	text-transform: uppercase;

}

.offer-text-one.two {
	margin-top: 220px;
}



.bg2 {
	width: 100%;
	height: 719px;
	background-image: url('images/bg-2.jpg');
	background-repeat: repeat-x;
	background-position: center;
	float: left;

}
.why-block {
	display: block;
	width: 960px;
	margin: 0 auto;
}

.why-block p {
	font-size: 16px;
	color: #000;
	padding-left: 90px;
	max-width: 700px;
	padding-bottom: 21px;
}
.why-block p:first-child {
	font-size: 38px;
	color: #000;
	padding-left: 0px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	margin: 50px 0px 95px 0px;
	max-width: none;
	width: 100%;

}

.bg3 {
	width: 100%;
	height: 1260px;
	background-image: url('images/bg-3.jpg');
	background-repeat: repeat-x;
	background-position: center;
	float: left;
	margin: 0px;

}

.bg3-1 {
	width: 100%;
	height: 434px;
	background-image: url('images/bg-3-1.jpg');
	background-repeat: repeat-x;
	background-position: center;
	float: left;
	margin-top: -20px;

}


.problem-block {
	display: block;
	width: 960px;
	margin: 0 auto;
}

.problem-block p.first{
 display: block;
 width: 100%;
 text-align: center;
 padding: 0px;
 font-size: 32px;
 text-transform: uppercase;
 margin-top: 40px;
}

p.two-p {
	margin: 0px;
	display: block;
	float: left;
	width: 47%;
	text-align: center;
	font-size: 32px;
	text-transform: uppercase;
	margin-top: 230px;
	padding-right: 3%;
}

p.three-p {
	font-size: 32px;
	text-transform: uppercase;
	text-align: center;
	margin: 0px;
	display: block;
	float: right;
	width: 47%;
	padding-left: 3%;
	margin-top: 230px;
}

.problem-left {
	margin: 110px 0px 0px 0px;
	max-width: 28%;
	float: left;
	font-size: 16px;
}

.problem-right {
	margin: 45px 0px 0px 0px;
	width: 28%;
	float: right;
	font-size: 16px;
}

.problem-left p, .problem-right  p{
	padding-bottom: 80px;
}

.problem-left  p:nth-child(1){
	padding-bottom: 90px;
}

.problem-left  p:nth-child(2){
	padding-bottom: 100px;
}

.problem-left  p:nth-child(3), .problem-left  p:nth-child(4){
	padding-bottom: 65px;
}



.problem-right  p:nth-child(3){
	padding-bottom: 40px;
}

.problem-right  p:nth-child(4){
	padding-bottom: 30px;

}

.problem-right  p:nth-child(5){
	padding-bottom: 80px;

}

.problem-right  p:nth-child(6){
	padding-bottom: 30px;
	font-size: 18px;
	text-transform: uppercase;
	color:#0062a3;
}

.itog {
	display: block;
	width: 960px;
	margin: 0 auto;
}

.itog p:nth-child(1) {
	width: 100%;
	float: left;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 36px;
	margin-top: 25px;
}

.itog p:nth-child(2) {
	width: 40%;
	float: left;
	text-align: left;
	text-transform: uppercase;
	color:#ff0000;
	font-size: 24px;
	margin-top: 120px;

}

.itog p:nth-child(3) {
	width: 40%;
	float: right;
	text-align: left;
	text-transform: uppercase;
	color:#0062a3;
	font-size: 24px;
	margin-top: 120px;
}

.itog p:nth-child(4) {
	width: 100%;
	float: right;
	text-align: center;
	color:#000;
	font-size: 28px;
	margin-top: 45px;
}

.itog p:nth-child(4) span {
	text-transform: uppercase;
	color:#ff0000;
	font-size: 24px;

}

.bg4 {
	width: 100%;
	height: 172px;
	background-image: url('images/bg-4.jpg');
	background-repeat: repeat-x;
	background-position: center;
	float: left;
	margin: 0px;

}

.form-one {
	
	display: block;
	width: 960px;
	margin: 0 auto;
	margin-top: 60px;
}


.form-one p {
	font-size: 40px;
	text-align: center;
	color:#fff;
}
.form-one form {
	margin: 0 auto;
	width: 930px;
	text-align: center;

}
.form-one input{	
	text-align: left;
	color: #000;
	width: 290px;
	height: 32px;
	padding: 5px;
	float: left;
	margin-right: 40px;
	border-radius: 5px;
	font-size: 15px;
	text-transform: uppercase;
}


.bg5 {
	width: 100%;
	height: 980px;
	background-image: url('images/bg-5.jpg');
	background-repeat: repeat-x;
	background-position: center;
	float: left;
	margin: 50px 0px 0px 0px;
}



.how-it-work {
	display: block;
	width: 960px;
	margin: 0 auto;
}

.how-it-work p {
	font-size: 18px;
	color: #000;
	padding-bottom: 21px;
	float: left;
	text-transform: uppercase;
	width: 32%;

}
.how-it-work p:first-child {
	font-size: 38px;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	display: block;
	margin: 60px 0px 95px 0px;
	width: 100%;
	padding: 0px;

}

.how-it-work p:nth-child(2) {
margin: 150px 0px 0px 160px;
}

.how-it-work p:nth-child(3) {
margin: 300px 0px 0px 100px;
}

.how-it-work p:nth-child(4) {
margin: 110px 0px 0px 160px;
}

.bg6 {
	width: 100%;
	height: 693px;
	background-image: url('images/bg-6.jpg');
	background-repeat: repeat-x;
	background-position: center;
	float: left;
	margin: 0px 0px 0px 0px;
}


.our-instruct{
	display: block;
	width: 960px;
	margin: 0 auto;
}

p.greyp{
	font-size: 24px;
	width: 100%;
	text-align: center;
	margin:170px 0px 0px 0px;
}

.our-inst-one{
	display: block;
	float:left;
	margin:110px 0px 0px 0px;
}

.our-inst-one img {
	border-radius: 50%;
	float: left;

	border: 5px solid #dadada;
}

.our-inst-one p {
	font-size: 15px;
	color: #000;
	float: right;
	width: 72%;
	display: block;
	

}
.our-instruct p:first-child {
	font-size: 38px;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	display: block;
	margin: 50px 0px 0px 0px;
	width: 100%;
	padding: 0px;

}


.bg7 {
	width: 100%;
	height: 1154px;
	background-image: url('images/bg-7.jpg');
	background-repeat: repeat-x;
	background-position: center;
	float: left;
	margin: 0px 0px 0px 0px;
}

.what-your-get{
	display: block;
	width: 960px;
	margin: 0 auto;
}

.what-your-get p {
	float: left;
	display: block;
	padding-left: 30%;
	width: 60%;
	color: #fff;
	font-size: 35px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 130px 0px 0px 0px;

}

.what-your-get p:nth-child(3) {
	margin: 160px 0px 0px 0px;
}
.what-your-get p:nth-child(4) {
	margin: 120px 0px 0px 0px;
}
.what-your-get p:nth-child(5) {
	margin: 120px 0px 0px 0px;
}


.what-your-get p:nth-child(1) {
	font-size: 38px;

	color: #000;
	text-transform: uppercase;
	text-align: center;
	margin: 65px 0px 55px 0px;
	width: 100%;
	padding: 0;

}


.bg8 {
	width: 100%;
	height: 1221px;
	background-image: url('images/bg-8.jpg');
	background-repeat: repeat-x;
	background-position: center;
	float: left;
	margin: 0px 0px 0px 0px;
}

.review{
	display: block;
	width: 960px;
	margin: 0 auto;
}

.review p:first-child {
	font-size: 38px;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	display: block;
	margin: 50px 0px 0px 0px;
	width: 100%;
	padding: 0px;

}

.review1 {

	float: left;
	width: 470px;
	margin: 90px 0px 0px 0px;

}

.review1.r2{
	margin: 101px 0px 0px 490px;
}

.review1.r3{
	margin: 81px 0px 0px 0px;
}



.review1 p {
	float: left;
	padding-left: 11px;
	color: #fff;
	margin: 45px 0px 0px 0px;

}
.review1 div{
	height: 212px;
	float: left;
	width: 470px;

}

.review1 div img{
	float: left;
	padding-left: 11px;

}

.review1 div p{
	color: #000;
	float: left;
	padding-left: 221px;
	font-size: 14px;
	display: block;
	width: 230px;
	margin-top: -200px;

}

.bg9 {
	width: 100%;
	height: 1221px;
	background-image: url('images/bg-9.jpg');
	background-repeat: repeat-x;
	background-position: center;
	float: left;
	margin: 0px 0px 0px 0px;
}

.bg9 div{
	display: block;
	width: 983px;
	margin: 0 auto;
}

.bg9 div p:first-child {
	font-size: 38px;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	display: block;
	margin: 180px 0px 0px 0px;
	width: 100%;
	padding: 0px;

}

.bg9 div p:nth-child(2) {
	font-size: 16px;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	display: block;
	width: 100%;
	padding: 0px;

}

.bg9 div p:nth-child(3) {
	font-size: 34px;
	color: #2c97df;
	text-transform: uppercase;
	text-align: center;
	display: block;
	width: 50%;
	float: left;
	padding: 50px 0px 0px 0px;
	font-weight: bold;


}

.bg9 div p:nth-child(4) {
	font-size: 34px;
	color: #2c97df;
	text-transform: uppercase;
	text-align: center;
	display: block;
	width: 50%;
	float: right;
	font-weight: bold;
	padding: 50px 0px 0px 0px;
	
}


.bg9 div p:nth-child(5) {
	font-size: 32px;
	color: #fff;
	text-align: left;
	display: block;
	width: 30%;
	float: left;
	
	padding: 20px 0px 0px 20%;
}
.bg9 div p:nth-child(5) span, .bg9 div p:nth-child(6) span, .bg9 div p:nth-child(7) span,.bg9 div p:nth-child(8) span{
	font-size: 60px;
	font-weight: normal;
}

.bg9 div p:nth-child(7) {
	font-size: 32px;
	color: #fff;
	text-align: left;
	display: block;
	width: 30%;
	float: left;
	padding: 180px 0px 0px 20%;
	
}


.bg9 div p:nth-child(6) {
	font-size: 32px;
	color: #fff;
	text-align: left;
	display: block;
	width: 45%;
	float: right;
	padding: 180px 0px 0px 5%;
}

.bg9 div p:nth-child(8) {
	font-size: 32px;
	color: #fff;
	text-align: left;
	display: block;
	width: 45%;
	float: right;

	padding: 180px 0px 0px 5%;
	
}

.bg9 div p:nth-child(9) {
	font-size: 14px;
	color: #000;
	text-align: left;
	display: block;
	width: 97%;
	float: left;
	margin-top: 55px;
	padding-left: 3%
	
}

.bg9 div p:nth-child(9) span {
	color: #ff0000;
}

.bg10 {
	width: 100%;
	height: 1411px;
	background-image: url('images/bg-10.jpg');
	background-repeat: repeat-x;
	background-position: center;
	float: left;
	margin: 0px 0px 0px 0px;
}

.bg10 div{
	display: block;
	width: 965px;
	margin: 80px auto 0 auto;
}


.bg10 p:nth-child(1), .bg10 p:nth-child(2),.bg10 p:nth-child(3),.bg10 p:nth-child(4),.bg10 p:nth-child(5){
	text-align: center;
	width: 100%;
	display: block;
}

.bg10 a.btn {
	margin: 20px auto !important;
	float: none;
}

.bg10 p:nth-child(1){
	font-size: 24px;
	color: #2c97df;
	text-transform: uppercase;
	margin-bottom: -10px;
}


.bg10 p:nth-child(2){
	font-size: 18px;
	color: #2c97df;
}


.bg10 p:nth-child(2) span{
	color: #ff662b;
	text-transform: uppercase;
}

.bg10 p:nth-child(4){
	font-size: 38px;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	display: block;
	margin:50px 0px 0px 0px;
	width: 100%;
	padding: 0px;
}

.bg10 p:nth-child(5){
	font-size: 18px;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	display: block;
	margin: 10px 0px 0px 0px;
	width: 100%;
	padding: 0px;

}


.bg11 {
	width: 100%;
	height: 284px;
	background-image: url('images/bg-11.jpg');
	background-repeat: repeat-x;
	background-position: center;
	float: left;
	margin: 0px 0px 0px 0px;
}

.bg11 div{
	display: block;
	width: 965px;
	margin: 0px auto 0 auto;
}

.bg11 div div:nth-child(1){
	width: 50%;
	float: left;
}

.bg11 div div:nth-child(1) form{
	margin-top: 55px;
}

.bg11 div div:nth-child(1) input, .bg11 div div:nth-child(1) select{
	text-align: left;
	color: #000;
	width: 290px;
	height: 32px;
	padding: 5px;
	float: left;
	margin-right: 40px;
	margin-bottom: 15px;
	border-radius: 5px;
	font-size: 15px;
	text-transform: uppercase;
}

.bg11 div div:nth-child(1) select{
	text-align: left;
	color: #000;
	width: 305px;
	height: 42px;
	padding: 5px;
	float: left;
	margin-right: 40px;
	border-radius: 5px;
	font-size: 15px;
	text-transform: uppercase;
}






.bg11  div div:nth-child(2){
	width: 50%;
	float: right;
}

.bg11  div div:nth-child(2) .phone-header{
	color: #fff;
	margin: 60px 0px 0px 0px;
	padding: 0px;
	float: right;
	width: 55%;
	padding-left:45%;
}

.bg11  div div:nth-child(2) .phone-header span{
	color: #fff;
}
.bg11 .btn.two-ff {
	margin: 50px 0px 0px 0px;
	float: right;

}

.our-inst-one.two-m, .our-inst-one.three-m{
display: none;
}